.ColorBox {
	height: 25%;
	width: 20%;
	margin: 0 auto;
	position: relative;
	display: inline-block;
	cursor: pointer;
	text-transform: uppercase;
	margin-bottom: -3.5px;
}

.copy-btn {
	width: 100px;
	height: 30px;
	position: absolute;
	display: inline-block;
	top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: -15px;
	text-align: center;
	outline: none;
	background-color: rgba(255, 255, 255, 0.3);
	font-size: 1rem;
	border: none;
	line-height: 30px;
	color: white;
	opacity: 0;
}

.ColorBox:hover .copy-btn {
	opacity: 1;
	transition: 0.35s;
}

.box-content {
	position: absolute;
	left: 0px;
	bottom: 0px;
	padding: 10px;
	color: black;
	letter-spacing: 1px;
	font-size: 12px;
}

.see-more {
	background: rgba(255, 255, 255, 0.3);
	position: absolute;
	border: none;
	right: 0;
	bottom: 0;
	color: white;
	width: 60px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.copy-overlay {
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 0;
	transition: transform 0.4s ease-in-out;
	transform: scale(0.1);
}

.copy-overlay.show {
	transform: scale(10);
	opacity: 1;
	position: absolute;
	z-index: 10;
}

.copy-msg {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 4rem;
	color: white;
	transform: scale(0.1);
	opacity: 0;
}

.copy-msg.show {
	opacity: 1;
	transform: scale(1);
	transition: all 0.4s ease-in-out;
	transition-delay: 0.3s;
	z-index: 25;
}

.copy-msg h1 {
	font-weight: 400;
	text-shadow: 1px 2px black;
	background: rgba(255, 255, 255, 0.2);
	width: 100%;
	text-align: center;
	margin-bottom: 0;
	padding: 1rem;
	text-transform: uppercase;
}

.copy-msg p {
	font-weight: 100;
	font-size: 2rem;
}
