.PaletteList {
	background-color: blue;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 100vh;
}

.container {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-wrap: wrap;
}

.nav {
	width: 100%;
	display: flex;
	justify-content: center;
	color: white;
}

.palettes {
	box-sizing: border-box;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 30%);
	grid-gap: 5%;
	height: 90vh;
}
